* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.btn_edit {
    background-color: green;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin-left: 400px;
    right: 5%;
    margin-top: -50px;
    position: absolute;
}

.btn_del {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 5px;
    right: 0%;
    position: absolute;
    margin-top: -50px;
}

.principal {
    border: 1px solid black;
}

.newpost {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 5px;
    margin: 10px 10px;
}